<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.twolions"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/tema" >
        <activity
            android:name=".screen.TwoLionsSplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- tela de about -->
        <activity
            android:name=".screen.AboutScreen"
            android:clearTaskOnLaunch="false"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />

        <!-- tela de logon -->
        <activity
            android:name=".screen.LogonScreen"
            android:screenOrientation="portrait" />

        <!-- tela do menu -->
        <activity
            android:name=".screen.MenuScreen"
            android:screenOrientation="portrait" />

        <!-- tela do jogo -->
        <activity
            android:name=".screen.QuestScreen"
            android:screenOrientation="portrait" />

        <!-- tela de ranking -->
        <activity
            android:name=".screen.RankingScreen"
            android:screenOrientation="portrait" />

        <!-- tela de splash screen -->
        <activity
            android:name=".screen.SplashScreen"
            android:clearTaskOnLaunch="false"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>